<!DOCTYPE html>
<html>
<head>
	<title>Autobot</title>
</head>
<body>
	<h1>Autobot Active</h1>
    <p><span>Your Twitter bot, Autobot is now active. Retweeting and liking the most recent twitter post that is using the #puppy or #Puppy.</span></p>
    <p><span>Visit here to view the account where these tweets are made! <a href="https://twitter.com/Autobot2120?s=20">Autobot Twitter</a></span></p>
	<p><span>Random stuff.. bot.. bot.. will replace.. this.. text.. later..</span></p>
</body>
</html>