body {
    background-color: whitesmoke;
    margin: auto;
    padding: auto;
}

h3 {
      text-align: center;
      margin: auto;
      margin-top: 1em;
    }

.currencyImage {
      width: 25px;
      height: 25px;
    }

    tr, td, th {
      border: solid black 1px;
      text-align: center;
    }

    th {
      margin: auto;
    }

    table {
      height: auto;
      margin: auto;
      padding: auto;
      table-layout: auto;
      width: 80%;
    }