body {
    background-color: whitesmoke;
    margin: auto;
    padding: auto;
}

h3 {
      text-align: center;
      margin: auto;
      margin-top: 10em;
    }

.currencyImage {
      width: 10%;
      height: auto;
      display: block;
    }

    tr, td, th{
      border: solid red 2px;
    }