body {
    background-color: whitesmoke;
    margin: auto;
    padding: auto;
}

h3 {
      text-align: center;
      margin: auto;
      margin-top: 1em;
    }

    img {
      width: 25px;
      height: 25px;
    }