#footer {
    background-color: white;
    margin: auto;
    width: 100%;
    bottom: 0%;
    text-align: center;
    color: black;
    font-size: 13.5px;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

.socialIcon {
    width: 20px;
    height: 20px;
}

.socialItems {
    display: inline-block;
    font-weight: 500;
    padding: 0;
    margin-left: 25%;
}