#footer {
    background-color: white;
    padding: auto;
    margin:auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2.5rem;   

    margin: auto;
    padding: auto;
    text-align: center;
    color: red;
    width: 100%;
    background-color: pink;
}

p {
    margin: auto;
    padding: auto;
    text-align: center;
    color: red;
    width: 100%;
    background-color: pink;
}